/.yarn/*
!/.yarn/versions
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
/.pnp.*
node_modules

# vite
development
build
dist

# misc
.eslintcache
.DS_Store
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.devnet.public
!.env.local.public
!.env.testnet.public

# generated code
src/hooks/contracts
src/graphql
generatedGitInfo.json
generatedNetlifyInfo.json
generatedMainCurateAddress.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
